body
{
    background-color: rgb(0, 0, 0);
}


#divisao
{
    
   height: 500px;
   width: 500px;
   border-color: green;
   border: 3px solid;
        
        
    
}


#nick-user
{
    float: right;
    font-size: large;
    fill-opacity: 10%;
    background-color: rgb(31, 28, 28);

}

#btn-user
{
    border: 1px solid;
    border-color: rgb(0, 255, 0);
   background-color: rgb(31, 28, 28);
}

#btn-user:hover
{
    background-color: rgb(45, 102, 45);
    cursor: pointer;
    

}



#nick-user
{
    float: right;
    padding-left: 10px;
    background-color:  rgb(31, 28, 28);
    text-align: center;
    

    
}


#img-user
{
    float: left;
   padding-top: 10px;
   padding-right: 20px;
}


#user-box
{
    float: right;
    background-color:  rgb(31, 28, 28);
    display: flex;
    


}

#btn-img-user
{
    background-color:  rgb(31, 28, 28);
    border: 1px solid;
    border-color: rgb(0, 255, 0);   
}



#linha
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: left;


}
#linha2
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: right;  
    margin-left: 300px;   
}


#linha-centro
{
     height: 100px;
     width: 3px;
     background-color: rgb(0, 255, 0);
     margin-left: 30%;
     float: inline-start;
}

#linha2-centro
{
    height: 100px;
    width: 3px;
    background-color: rgb(0, 255, 0);
    margin-left: 70%;
   
   
}

#main
{
  background-color: rgb(10, 10, 10);
  justify-content: center;
  padding: 150px;
  text-align:center;
  margin-left: 500px;
  margin-right: 500px;
  height: 250px;
  width: 100px;

}
