*
{
    margin: 0;
    padding: 0;
}

#tela
{
    width: 700px;
    height: 700px;
    border: 1px solid;
}

#main
{
  background-color: rgb(26, 25, 25);
  justify-content: center;
  height: 250px;
  width: 100px;

}