body
{
    background-color: rgb(0, 0, 0);
}

 #modo
 {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 255, 0);

 }

 #modo:hover
 {
    cursor: pointer;
    background-color: green;
 }
#divisao
{
    
   height: 500px;
   width: 500px;
   border-color: green;
   border: 3px solid;
        
        
    
}




#btn-login-box
{
    text-align: center;
    margin-left: 93%;
    font-size: large;
    fill-opacity: 10%;
    background-color: black;
    cursor: pointer;
}



#linha
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: left;


}
#linha2
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: right;  
    margin-left: 300px;   
}


#linha-centro
{
     height: 100px;
     width: 3px;
     background-color: rgb(0, 255, 0);
     margin-left: 30%;
     float: inline-start;
}

#linha2-centro
{
    height: 100px;
    width: 3px;
    background-color: rgb(0, 255, 0);
    margin-left: 70%;
   
   
}

#main
{
  background-color: rgb(10, 10, 10);
  justify-content: center;
  padding: 150px;
  text-align:center;
  margin-left: 500px;
  margin-right: 500px;
  height: 250px;
  width: 100px;

}

body
{
    background-color: black;
}

#feed
{
    
    margin-top: 0%;
    display: block;
    background-color: rgb(25, 25, 25);
    width: 500px;
    height: 190px;
    color: white;
}

#chat
{
    margin-left:  34%;
    margin-top: 0%;
    display: block;
    background-color: rgb(25, 25, 25);
    width: 500px;
    height: 190px;

}

#nick
{
    display: inline-block;
}



#img
{
    padding-top: 6%;
    padding-left: 2%;
}

#input
{
   
    background-color: rgb(22, 22, 22);
    padding-left: 15%;
    display: inline-block;
    color: white;
    height: 80px;
    width: 364px;
   

}

#input:hover
{
    cursor:text;
}

#post
{
    margin-left: 80%;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 255, 0);
    width: 100px;
    
    height: 20px;

}

#post:hover
{
    background-color: green;
    cursor: pointer;
}

