body
{
    background-color: rgb(0, 0, 0);
}


#divisao
{
    
   height: 500px;
   width: 500px;
   border-color: green;
   border: 3px solid;
        
        
    
}


#user
{
    float: right;
    font-size: large;
    fill-opacity: 10%;
    background-color: rgb(43, 41, 41);

}
#nick-user
{
    float: right;
    padding-left: 10px;
}


#img-user
{
    float: left;
   padding-top: 10px;
   padding-right: 20px;
}



#linha
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: left;


}
#linha2
{
    height: 100px;
    width: 3px;
    background: rgb(0, 255, 0); 
    float: right; 
  
   
}


#linha-centro
{
     height: 100px;
     width: 3px;
     background-color: rgb(0, 255, 0);
     margin-left: 450px;
}

#linha2-centro
{
    height: 100px;
    width: 3px;
    background-color: rgb(0, 255, 0);
    margin-left: 70%;
}

#main
{
  background-color: rgb(0, 0, 0);
  justify-content: center;
  padding: 150px;
  text-align:center;
  margin-left: 500px;
  margin-right: 500px;
  height: 250px;
  width: 100px;

}
